# Server Configuration
PORT=3001
HTTPS_PORT=3443
NODE_ENV=production

# Storage Directory (Optional, defaults to C:\Journal_Proofs on Windows or ./storage/journal_proofs on Linux)
# STORAGE_PATH=/tmp/journal_proofs

# AWS S3 Cloud Storage Configuration
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=innoscanmussgp1-s3
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
AWS_PREFIX=innoscanmussgp1/JournalVerificationImages/

